@model OlayEditViewModel

@{
    ViewData["Title"] = "Olay Düzenle";
}

<h1>Olay Düzenle</h1>
<hr />
@using (Html.BeginForm("Edit", "Olay", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Olay.Id" />
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.IlkNeden)</b>
        </label>
        <div class="col-sm-10 col-lg-6">
            @Html.TextAreaFor(e => e.Olay.IlkNeden, new { rows = "4", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.OlusSekli)*</b>
        </label>
        <div class="col-sm-10 col-lg-6">
            @Html.TextAreaFor(e => e.Olay.OlusSekli, new { rows = "4", @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Olay.OlusSekli, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.Yer)*</b>
        </label>
        <div class="col-sm-10 col-lg-6">
            @Html.TextAreaFor(e => e.Olay.Yer, new { rows = "2", @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Olay.Yer, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.Tarih)*</b>
        </label>
        <div class="col-sm-10 col-lg-3">
            @Html.TextBox("Olay.Tarih", Model.Olay.Tarih.Value.ToShortDateString(), new { @class = "date-picker" })
            @Html.ValidationMessage("Olay.Tarih", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.Zaman)</b>
        </label>
        <div class="col-sm-10 col-lg-3">
            <div class="input-group">
                @Html.DropDownListFor(e => e.Olay.Saat, Model.Saatler, new { @class = "form-control" })
                <div class="input-group-text">:</div>
                @Html.DropDownListFor(e => e.Olay.Dakika, Model.Dakikalar, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-lg-1 col-form-label">
            <b>@Html.DisplayNameFor(e => e.Olay.IhbarIdleri)</b>
        </label>
        <div class="col-sm-10 col-lg-6">
            @Html.ListBoxFor(e => e.Olay.IhbarIdleri, Model.Ihbarlar, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 offset-lg-1 col-sm-10 col-lg-6">
            <pushbutton type="submit" class="btn btn-primary" text="Kaydet"></pushbutton>
            <pushbutton type="reset" class="btn btn-warning" text="İptal"></pushbutton>
            <a asp-action="Index" class="btn btn-success">Listeye Geri Dön</a>
            <br />
            <span>* zorunlu alandır.</span>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.date-picker').datepicker({
                format: "dd.mm.yyyy",
                language: "tr",
                autoclose: true
            });
        });
    </script>
}